.callout h3 {
  font-family:"Oswald", "Times New Roman";
  font-weight:700;
  color:rgb(200,125,50);
}

.callout p {
  color:rgb(100,70,200);
}

form label {
  font-family:"Oswald", "Times New Roman";
  color:rgb(190,100,70);
  font-size:2em;
}

.card-section {
  margin:0 auto;
}

.img {
  width:30%;
  height:25%;
}

#person {
  width:30%;
  height:25%;
}
