body{
  background: linear-gradient(to bottom,  rgba(243,226,199,1) 0%,rgba(193,158,103,1) 50%,rgba(182,141,76,1) 51%,rgba(233,212,179,1) 100%);
}

#links{
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
  display:inline-block;
}

#links li{
  float:left;
  margin:0.6em 0;

}

#links li a{
  display:block;
  text-align:center;
  background:navy;
  color:white;
  text-decoration:none;
  border-radius:1em;
  font-size:0.9em;
}

#links li a:hover{
  border-radius:1em;
  text-decoration:underline;
  color:rgb(200,100,100);
  background:yellow;
  text-transform:uppercase;
}

#links li a:focus{
  border-radius:1em;
  text-decoration:underline;
  color:rgb(200,100,100);
  background:yellow;
  text-transform:uppercase;
}

h2{
  clear:both;
}

.specifics {
  font-family: "Playwrite IS", "Times New Roman";
  font-weight: 300;
  font-style: normal;
}

.highlight{
  background:rgb(100,100,50);
  color:white;
  position:relative;
}

#container{
  width:100%;
  text-align:center;
  position:relative;
  height:3em;
  background:rgb(100,210,50);
}

h1{
  background: linear-gradient(to bottom,  rgba(255,175,75,1) 35%,rgba(255,175,75,1) 43%,rgba(255,146,10,1) 100%);
  margin:0;
  text-align:center;
  padding:1em 0 1em 0;
  font-size:2em;
}

.highlight {
  font-size:1.5em;
  font-family: "Oswald", "Times New Roman";
  font-style: normal;
}

#links {
  font-size:1.2em;
  font-weight:700;
  font-family: "Quicksand", "Times New Roman";
  font-style: normal;
}

h2 {
  font-size:2em;
  font-family: "Playfair Display", "Times New Roman";
  font-style: normal;
  width:100%;
  background:pink;
  text-align:center;
}
	
footer{
  font-family: "Playfair Display", "Times New Roman";
  font-weight: 700;
  font-style: normal;
  width:70%;
  background:white;
  float:right;
}

footer h3{
  color:navy;
}

img{
  width:70%;
  height:50%;
  position:relative;
  left:5em
}

@media screen and (min-width:800px){
  footer{
	width:30%;
  }
  .specifics{
	font-size:2em;
  }
  img{
	width:100%;
	height:100%;
	left:0;
  }
  #links li{
    float:left;
    margin:0.6em 1.01em;
  }
  body {
    width:70%;
    margin:0 auto;
  }
  #links li a{
	font-size:1.2em;
  }
  .highlight{
	font-size:2em;
  }
}

#Education,#EducationMore{
  text-align:center;
}

#form{
  position:relative;
  font-family:"Playwrite IS", "Times New Roman";
  margin:0 auto;
  width:100%;
  text-align:center;
}

label{
 position:relative;
 margin:0 auto;
}