body{
  background: linear-gradient(to bottom,  rgba(243,226,199,1) 0%,rgba(193,158,103,1) 50%,rgba(182,141,76,1) 51%,rgba(233,212,179,1) 100%);
}

#links{
  list-style-type:none;
  margin:0;
  padding:0;
  vertical-align:top;
  overflow:hidden;
}

#links li{
  float:left;
  margin:0 15px;
}

#links li a{
  display:block;
  text-align:center;
  padding:15px 0 8px 0;
  background:navy;
  color:white;
  text-decoration:none;
  border-radius:10px;
}

#links li a:hover{
  border-radius:15px;
  text-decoration:underline;
  color:rgb(200,100,100);
  background:yellow;
  text-transform:uppercase;
}

h2{
  clear:both;
}

.specifics {
  font-family: "Playwrite IS", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.highlight{
  background:rgb(100,100,50);
  color:white;
  position:relative;
  left:20px;
}

#container{
  width:100%;
  text-align:center;
  position:relative;
  background:pink;
  height:43px;
}

h1{
  background: linear-gradient(to bottom,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%);
  margin:0;
  text-align:center;
}

	