body{
    background: linear-gradient(to bottom,  rgba(243,226,199,1) 0%,rgba(193,158,103,1) 50%,rgba(182,141,76,1) 51%,rgba(233,212,179,1) 100%);
}

#links{
	list-style-type:none;
	margin:0;
	padding:0;
}

#links li{
	float:left;
	margin:0 15px;
}

#links li a{
	display:block;
	text-align:center;
	padding:15px 0 8px 0;
	background:navy;
	color:white;
	text-decoration:none;
}

#links li a:hover{
	border-radius:10px;
	text-decoration:underline;
	color:rgb(200,100,100);
	background:yellow;
}

h2{
	clear:both;
}

.specifics {
  font-family: "Playwrite IS", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.highlight{
	background:rgb(100,100,50);
	color:white;
}
	